@model WebVRMS.Models.Payment

<html>
<head>
    <title>Detail Payment</title>
</head>
<body>
    <h1>Detail Payment</h1>
    <p>Payment Id: @Model.PaymentId</p>
    <p>Amount : @Model.Amount</p>
    <p>Payment Date : @Model.PaymentDate</p>
    <p>Invoice Id : @Model.Ipid</p>
</body>
</html>

