@model WebVRMS.Models.Vehicle


<html>
<head>
    <title>Delete Vehicle</title>
</head>
<body>
    <h2>Delete Vehicle</h2>
    <form method="post" action="/Vehicles/Delete">
        <p>Apakah anda yakin akan mendelete vehicle @Model.Make - @Model.Model ?</p>
        <input type="hidden" value="@Model.VehicleId" name="VehicleId" />
        <div>
            <input type="submit" value="Delete" />
        </div>
    </form>
</body>
</html>
