@model WebVRMS.Models.Invoice

<html>
<head>
    <title>Detail Invoice</title>
</head>
<body>
    <h1>Detail Invoice</h1>
    <p>Invoice Id: @Model.InvoiceId</p>
    <p>Amount : @Model.Amount</p>
    <p>Invoice Date : @Model.InvoiceDate</p>
    <p>Rental Id : @Model.Riid</p>
</body>
</html>

